body{
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: black;
  color: white;
}

h1{
   background-color: black; 
   color : white;
   margin: -13px;
   border: 10px;
}

nav{
  background-color: lightgray; 
  color : darkgray;
  margin: -8px; 
  padding: 15px;
}
a {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  font-weight: bold;
}

h3{
  text-align: center;
}

form{
  text-align: center;
}

footer{
  text-align: center;
  color: white;
  background-color: black;
  padding:12px;
  margin-bottom: 2px;
}

ol{
  font-size: smaller;
}
ul{
  font-size: smaller;
}
p{
  font-size: smaller;
  padding: 12px;
  padding-top: 20px;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: red;
	opacity: 0.8;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  color: red;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.9;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
